BuberDinner/BuberDinner.Api/bin
BuberDinner/BuberDinner.Api/obj
BuberDinner/BuberDinner.Application/bin
BuberDinner/BuberDinner.Application/obj
BuberDinner/BuberDinner.Contracts/bin
BuberDinner/BuberDinner.Contracts/obj
BuberDinner/BuberDinner.Domain/bin
BuberDinner/BuberDinner.Domain/obj
BuberDinner/BuberDinner.Infrastructure/bin
BuberDinner/BuberDinner.Infrastructure/obj
